# ─── Variables d'environnement (NE JAMAIS PUSHER) ────────────────────────────
.env
.env.local

# ─── Environnement virtuel Python ─────────────────────────────────────────────
venv/
.venv/

# ─── Python cache ─────────────────────────────────────────────────────────────
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# ─── Django ───────────────────────────────────────────────────────────────────
db.sqlite3
staticfiles/
media/

# ─── Logs ─────────────────────────────────────────────────────────────────────
*.log

# ─── OS ───────────────────────────────────────────────────────────────────────
.DS_Store
Thumbs.db
